@import "_colors";

.stat-sheet {
  padding: 20px;
}

.stat-table {
  width: 100%;
  font-size: 20px;
  margin: 20px 0;
  border-collapse: collapse;
}

.stat-table th {
  background: $accent-maroon;
  font-weight: 400;
  padding: 2px 0;
}

.stat-table td {
  text-align: center;
  padding: 4px 0;
  background: $background-white;
  color: $background-dark;
  border: solid 2px $background-dark-contrast;
  font-weight: 600;
}

.stat-table td:first-child {
  width: 50%;
  text-align: left;
  padding-left: 10px;
  font-weight: 400;
}
