@import "_colors";

.cricket-menu {
  padding: 16px;
  max-width: 420px;
  overflow-y: scroll;
}

.cricket-menu-variants {
  font-size: 20px;
  border-bottom: solid 2px $background-white;
}

.cricket-menu-variants p {
  padding: 12px 0;
}

.cricket-menu a {
  margin: 20px 0;
  display: inline-block;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-bottom: solid 1px $text-pink;
}

.danger-option {
  padding: 18px;
  margin: 10px 0;
  border: dashed 1px $background-white;
}

.danger-description {
  font-size: 18px;
  margin-bottom: 12px;
}

.danger-title {
  background: $accent-maroon;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
}
