@import "_colors";
@import "_dimensions";

.app-container {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  max-width: 800px;
  min-width: 500px;
  margin: 0px auto;
  min-height: 100vh;
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    max-width: initial;
    min-width: initial;
    width: 100%;
  }
}

.app-content {
  position: absolute;
  width: 100%;
  vertical-align: top;
}
