@import "_colors";

.config-dropdown {
  color: $text-pink;
  font-size: inherit;
  border: none;
  border-bottom: solid 1px $text-pink;
  border-radius: 0;
  appearance: none;
  margin: 0 3px;
  background: #ddd;
  padding-left: 4px;
  padding-right: 10px;
}
