@import "_colors";

.setup-room {
  height: 100px;
  margin-top: 16px;

  input {
    font-size: 24px;
    font-weight: 600;
    border: solid 1px $background-dark;
    padding: 8px;
    width: 50%;
    margin-right: 16px;
    vertical-align: top;
  }

  button {
    font-size: 16px;
    padding: 12px 6px;
    vertical-align: top;
    background: $accent-blue;
    color: white;
  }
}
