@import "_colors";
@import "_dimensions";

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: $text-pink;
}

.landing-container {
  border: solid 3px $accent-orange;
  padding: 20px;
  background: white;
}

.landing-join {
  height: 160px;
  border-top: solid 3px $background-dark-contrast;
  border-bottom: solid 3px $background-dark-contrast;
  margin-bottom: 16px;
  margin-top: 32px;
  padding-top: 16px;

  input {
    font-size: 24px;
    font-weight: 600;
    border: solid 1px $background-dark;
    padding: 8px;
    width: 50%;
    margin-right: 16px;
  }

  button {
    font-size: 18px;
    line-height: 42px;
    padding: 0 10px;
    background: $button-next;
    color: white;
    vertical-align: top;

    &[disabled] {
      background: $button-next-disabled;
      color: #aaa;
    }
  }
}

.error-text {
  color: red;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.landing-create,
.landing-join {
  font-size: 18px;
  font-weight: 600;
}

.landing-join-controls {
  margin-top: 16px;
}

.landing-create-buttons {
  margin-top: 16px;

  button {
    font-size: 16px;
    padding: 10px;
    width: 120px;
    margin-right: 16px;
    border: solid 1px $background-white-contrast;
    background: $background-white;

    @media (max-width: $mobile-breakpoint) {
      width: 100%;
      margin-right: none;
      margin-bottom: 16px;
    }
  }

  .button-cricket:not([disabled]) {
    border: solid 3px $button-red;
  }

  .button-x01:not([disabled]) {
    border: solid 3px $button-blue;
  }

  .button-clocky:not([disabled]) {
    border: solid 3px $button-green;
  }
}
