@import "_colors";

.x01-log {
  padding: 10px;
  max-height: 422px;
  overflow-y: scroll;
  font-size: 22px;
}

.x01-log-leg {
  border-top: solid 2px $background-white;
  padding: 6px 10px;
  margin: 12px 0;
  font-size: 20px;
  position: relative;
  background: $background-dark;
}

.x01-log-break {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 6px;
  position: absolute;
  top: 6px;
  right: 10px;
  background: $accent-maroon;
  border: solid 1px $background-white;
}

.x01-log-turn {
  border-bottom: solid 1px $background-dark;
  margin: 6px 0;
  padding: 2px;
  background: $background-textured-gray;
  color: $background-dark-contrast;
  position: relative;
}

.x01-log-score {
  font-size: 24px;
  text-align: center;
  border: solid 1px white;
  background: $background-dark-contrast;
  color: white;
  width: 100px;
  margin: 6px 0;
  margin-right: 24px;
  padding: 4px 0;
  display: inline-block;
  transition: none;

  &-red {
    background: $accent-maroon;
  }

  &-purple {
    background: $accent-purple;
  }

  &-blue {
    background: $accent-blue;
  }

  &-gold {
    background: $accent-gold;
    color: $background-dark-contrast;
  }
}

.x01-log-scores {
  display: flex;
  justify-content: space-evenly;
}

.x01-log-remaining {
  flex-basis: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;

  &-red {
    background: $team-red;
    border: solid 2px $team-red;
  }
  &-blue {
    background: $team-blue;
    border: solid 2px $team-blue;
  }
  &-green {
    background: $team-green;
    border: solid 2px $team-green;
  }
  &-orange {
    background: $team-orange;
    border: solid 2px $team-orange;
  }
  &-purple {
    background: $team-purple;
    border: solid 2px $team-purple;
  }
  &-pink {
    background: $team-pink;
    border: solid 2px $team-pink;
  }

  &-active {
    color: $background-dark;
    background: $background-white;
  }
}
