$background-dark: #333;
$background-dark-contrast: #222;
$background-white: #fafafa;
$background-white-contrast: #ccc;
$background-gray: #d6d6d1;

$accent-orange: #fa7814;

$button-next: green;
$button-next-disbled: #507672;

$text-white: white;
$text-white-disabled: #aaa;
$text-pink: #e30b5c;

$button-green: #578363;
$button-green-dark: #0a480d;
$button-green-light: #9fd7d3;

$button-blue: slateblue;
$button-blue-dark: darkblue;
$button-blue-light: lightblue;

$button-red: #d84437;
$button-red-dark: #991613;
$button-red-light: #eec1be;

$team-red: #ff2400;
$team-blue: #0066cc;
