$mobile-breakpoint: 500px;
$large-breakpoint: 767px;

$mobile-landscape: 500px;

$scoreboard-player-height: 50px;
$scoreboard-center-height: 32px;
$scoreboard-player-width-segment: 100% / 19;
$scoreboard-active-icon-width: 6%;
